@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.banner {
  height: 40vh;
  color: #fff;

  h1 {
    font-family: $title-font;
  }

  p {
    font-family: $text-font;
  }
}
