@import "../../styles/variables.scss";

.accordian {
  .accordian__header {
    cursor: pointer;
    display: flex;
    text-align: left;
    align-items: center;
    width: 730px;
    padding: 1rem;
    font-family: $title-font;
    font-size: 2.5rem;
    color: $grey;
  }

  .accordian__cards {
    display: flex;
    height: 250px;
    width: 730px;
    margin-top: 2rem;
  }
}
