@import "variables";

.footer {
  height: 18vh;
  background-color: $dark-grey-blue;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;

  img {
    color: $background;
  }

  .footer__nav {
    width: 25vw;
    display: flex;
    justify-content: space-evenly;

    .footer__link {
      text-decoration: none;
      text-transform: uppercase;
      font-family: $text-font;
      font-weight: 600;
      font-size: 0.9rem;
      color: $grey;
      transition: all 0.3s linear;

      &:hover {
        opacity: 0.85;
        text-decoration: underline;
      }
    }
  }

  .footer__social {
    a {
      margin: 0 1rem;
    }

    img {
      color: $background;
    }
  }
}
