@mixin button($bg, $clr) {
  cursor: pointer;
  width: 13.5rem;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.9rem;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 1.15rem;
  background: $bg;
  color: $clr;

  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}
