@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&family=Fraunces:wght@300;400;500;600;700;800&display=swap");

// Colors
$dark-cyan: #0e8784;
$dark-grey-blue: #333d4b;
$pale-orange: #fdd6ba;
$background: #fefcf7;
$grey: #83888f;

// Fonts
$title-font: "Fraunces", sans-serif;
$text-font: "Barlow", sans-serif;
